link(rel="stylesheet", href="assets/style.css")
link(rel="stylesheet", href="assets/highlight.css")
script(src="assets/clock.js")

body(onload="prepareClock()")
  div.myclock(id="clock")

section
  div.futurelogo(style="margin: auto; width: 70%; height: 70%; display: flex; align-items: center; justify-content: center;")
    img(src="assets/FullStackFestLogo.svg")
  h1 Reactive Reality
  p.dateStyle September 9 2016, Barcelona
  p Massimiliano Mantione

section
  p
    em About Myself
  h2.fragment An enthusiast software engineer
  p.fragment Passionate about languages and compilers
  p.fragment.roll-in <b>Worked in the V8 team in Google</b>
  p.fragment Overall, worked on JIT compilers for +7 years
  p.fragment Started as a Javascript hater
  p.fragment.embox.roll-in
    | Now likely a
    br
    | full stack developer

section
  h2 Adjust Your Expectations
  p
    em (from this talk)
  p.fragment I am <b>not</b> a UI (or UX) designer
  p.fragment I'll <b>not</b> show you new ways to interact with UIs in 3D
  p.fragment I'll show you a way to <b>build</b> UIs usable in a 3D world
  p.fragment.embox.roll-in
    em with solid software engineering principles

section
  h1 Why...
  p.fragment.embox.roll-in am I doing this talk?
  p.fragment Virtual Reality is all the rage!
  p.fragment.roll-in ... but this starts from a <b>real</b> need

section
  h1 Hyperfair
  p.fragment The company where I work
  p.fragment we do virtual tradeshows on the web
  p.fragment also virtual showrooms
  p.fragment.embox.roll-in seeing it is easier

section
  h1 Our core product...
  p.fragment is in 3D
  p.fragment has a UI
  p.fragment we are transitioning it to VR
  p.fragment
    em (Oculus, Cardboard, Daydream)
  p.fragment.embox.roll-in we'll need our UI in VR, too!

section
  h1 Technology
  p.fragment we are based on Unity3D
  p.fragment and so is our UI
  p.fragment.embox.roll-in
    | But what if we wanted to use
    br
    | proper web technologies?

section
  h1 I have a dream
  p.fragment Of a world where developers can build 3D UIs
  p.fragment On the Web
  p.fragment In VR worlds
  p.fragment.embox.roll-in Using the same technologies and tools they already know and use every day

section
  h1 The 10 - 90 rule
  p.fragment.roll-in 10% inspiration
  p.fragment.roll-in 90% perspiration

section
  h1 I'm sorry
  p.fragment In this talk, the inspirational part is over
  p.fragment From now on it's all about doing the dirty job
  p.fragment.embox.roll-in Let's build this UI!

section
  h1 On the web
  p.fragment UI === DOM
  p.fragment
    em (usually with a framework on top)
  p.fragment VR === WebGL
  p.fragment
    em (usually with a framework on top)

section
  h1 Can I haz...
  p.fragment
    veryBig DOM over WebGL?

section
  h1 Life is hard on us
  p.fragment.embox.roll-in
    strike DOM over WebGL
  p.fragment CSS 3D transforms are unnatural
  p.fragment they don't really integrate with the WebGL Z buffer
  p.fragment they are, in general, "out" of the WebGL canvas

section
  h1 Can I haz...
  p.fragment.embox.roll-in DOM rendered in a Canvas context?
  p.fragment Through SVG, but it's almost a joke
  p.fragment CORS gets in the way
  p.fragment The security implications are nontrivial
  p.fragment.roll-in
    em This <b>will</b> happen, but <b>not</b> now

section
  h1 I don't give up
  p.fragment
    em Are there other options?
  p.fragment We can give up the DOM...
  p.fragment.embox.roll-in ...and render our UI directly inside the WebGL canvas!

section
  h1 Not so fast, boy!
  p.fragment In VR, the WebGL canvas is in 3D mode
  p.fragment Usually we want our UI in 2D
  p.fragment
    em Believe me, you <b>do</b> want a 2D UI

section
  h1 Idea!
  p.fragment.embox.roll-in We can render the UI in a separated 2D canvas and use that as a texture in the 3D canvas

section
  h1 Render the UI
  p.fragment
    em ...with which framework?
  p.fragment One that we are used to
  p.fragment Let's pick React
  ul
    li.fragment easy to separate logic from view code
    li.fragment DOM-independent

section
  h1 Let's Pick...
  p.fragment
    em ...a sample application...
  p.fragment.embox.roll-in The ubiquitous todo list
  p.fragment
    em Simplified

section
  h1 Implementation
  p.fragment Build the logic in Redux style
  p.fragment Then we'll reuse the logic in the 3D UI
  p.fragment Let's see how it looks

section
  h1 Back to the Canvas
  p.fragment What about...
  p.fragment ...a canvas drawing framework...
  p.fragment ...with React bindings?

section
  h1 Help!
  p.fragment Javascript fatigue is hitting us
  p.fragment Choice is good, but also hard
  p.fragment.embox.roll-in Always better than starting from scratch

section
  h1 Top choices
  p.fragment React-canvas
  p.fragment Pixi.js
  p.fragment Konva.js

section
  h1 Pick your poison
  p.fragment and do it wisely
  p.fragment.embox.roll-in because you'll live with it for longer than you think

section
  h1 I picked Konva
  p.fragment.embox.roll-in
    | Mostly because its react wrapper is 
    em simple
  p.fragment I then added css-layout to it
  p.fragment
    em I even did a pull request for this
  p.fragment.embox.roll-in Let's see

section
  h1 The devil
  p.fragment
    veryBig is in the details

section
  h1 Issues
  p.fragment css-layout is not enough
  p.fragment propagating size info in the layout tree is cumbersome
  p.fragment mixing css-layout and konva styling is cumbersome
  p.fragment css-layout does not always do what you think
  p.fragment konva does not filter events selectively
  p.fragment konva does not handle keyboard events

section
  h1 We solved these...
  p.fragment
    em ...and now?
  p.fragment We have a 2D UI inside a Canvas
  p.fragment We still need to show it in 3D
  p.fragment Let's build a 3D scene!
  p.fragment -
  p.fragment
    em And then?

section
  h1 More issues!
  p.fragment Mapping events is tricky
  p.fragment Babylon events and setState invocations were fighting each other
  p.fragment
    em <b>async</b> setState with requestAnimationFrame
  p.fragment Did I say that mpping events is tricky?

section
  h1 It Works!
  p.fragment
    veryBig And VR?

section
  h1 Future Ideas
  p.fragment Real 3D UIS
  p.fragment Unified framework with React.js bindings to Bablon 3D objects and Canvas2D shapes
  p.fragment Need to fix:
  ul
    li.fragment Clipping
    li.fragment Layout
    li.fragment Canvas2D texture on any mesh

section
  h1 Takeaway
  p.fragment The proof of concept works
  p.fragment
    em (it's not production ready)
  p.fragment With current frameworks it's harder than what I had imagined
  p.fragment
    | With some effort, it can be made beautyful
    br
    em (from the <b>developer</b> point of view)

section
  h1 That's All, Folks
  p -
  p code and slides are on github
  p twitter: @M_a_s_s_i
  p -
  h2 Thanks for following!
